<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"> <!-- utf-8 works for most cases -->
    <meta name="viewport" content="width=device-width"> <!-- Forcing initial-scale shouldn't be necessary -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- Use the latest (edge) version of IE rendering engine -->
    <meta name="x-apple-disable-message-reformatting">  <!-- Disable auto-scale in iOS 10 Mail entirely -->
    <title>Shyft - API Key</title> <!-- The title tag shows in email notifications, like Android 4.4. -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;600;700;800&family=Poppins:wght@200;300;400;600;700;800;900&display=swap" rel="stylesheet"> 
</head>
<body style="background-color: #FFF;">
<div style="width: 1003px; height: 681px; background: #FFFFFF; border-radius: 20px; padding: 20px 40px; margin: 0 auto; border: 1px solid #dfdfdf; border-radius: 25px 25px 0px 0px; background: url(https://s3.ap-south-1.amazonaws.com/media.shyft.to/email_asset/Email-back-3.png),#FFF; background-position: bottom left; background-repeat: no-repeat; background-size: cover;">
    <div style="width: 100%; margin: 0 auto; text-align: center;">
        <h5 style="text-transform:uppercase; font-family: 'Montserrat',sans-serif; font-weight: 800; font-size: 22px; line-height: 26px; letter-spacing: 1px;">Shyft</h5>
    </div>
    <div style="width: 100%; margin: 0 auto; text-align: center; padding-top: 40px;">
        <p style="font-family: 'Montserrat',sans-serif; font-weight: 700; font-size: 20px;letter-spacing: 1px;">Hey!</p>
        <h4 style="font-family: 'Montserrat',sans-serif; font-weight: 700; font-size: 40px; line-height: 48px; letter-spacing: 1px; padding-top: 0px;">It’s Time to Create Mindblowing Nfts</h4>
        <h5 style="font-family: 'Montserrat',sans-serif; font-weight: 700; font-size: 20px; letter-spacing: 1px; padding-top: 0px;">Here is the key</h5>
        <h5 style="font-family: 'Montserrat',sans-serif; font-weight: 700; font-size: 24px; line-height: 29px; letter-spacing: 1px; padding-top: 0px;">{{ apiKey }}</h5>
    </div>
    <div style="width: 100%; margin: 0 auto; text-align: center; padding-top: 90px;">
        <p style="font-family: 'Poppins',sans-serif; font-weight: 600; font-size: 16px; letter-spacing: 1px;">
            With shyft you'll be able examined all the NFT information from our support chain, turn anything into an NFT with basic minting and utilize the improved APIs for much more. All so you can bring your NFTs items to showcase in hours rather than months.
        </p>
    </div>
</div>
<div style="width: 1003px; background-color: #112F4A; text-align: center; padding: 20px 40px; margin: 0 auto; border: 1px solid #112F4A; border-radius: 0px 0px 25px 25px;">
    <table style="width: 100%;">
        <tr>
            <td style=" text-align: left; width: 500px;">
                <h5 style="text-transform:uppercase; font-family: 'Montserrat',sans-serif; font-weight: 700; font-size: 20px; line-height: 24px; letter-spacing: 2px; color: #FFF; margin-left: 0;">Shyft</h5>
            </td>
            <td>
            </td>
            <td style="width: 34px;">
                <a href="#"><img src="https://s3.ap-south-1.amazonaws.com/media.shyft.to/email_asset/twitter.png" alt="Twitter">
            </td>
            <td style="width: 34px;">
                <a href="#"><img src="https://s3.ap-south-1.amazonaws.com/media.shyft.to/email_asset/instagram.png" alt="Instagram">
            </td>
            <td style="width: 34px;">
                <a href="#"><img src="https://s3.ap-south-1.amazonaws.com/media.shyft.to/email_asset/discord.png" alt="Discord">
            </td>
            <td style="width: 34px;">
                <a href="#"><img src="https://s3.ap-south-1.amazonaws.com/media.shyft.to/email_asset/facebook.png" alt="Facebook">
            </td>
            <td style="width: 34px;">
                <a href="#"><img src="https://s3.ap-south-1.amazonaws.com/media.shyft.to/email_asset/google.png" alt="Google">
            </td>
            <td style="width: 34px;">
                <a href="#"><img src="https://s3.ap-south-1.amazonaws.com/media.shyft.to/email_asset/linkedin.png" alt="LinkedIn">
            </td>
        </tr>
        <tr>
            <td style=" text-align: left; width: 500px;">
                <p style="font-family: 'Poppins',sans-serif; font-weight: 300; font-size: 16px; letter-spacing: 2px; color: #FFF;">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Interdum netus fames viverra facilisis. Vulputate sed lectus
                </p>
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td style=" text-align: left; padding-top: 20px; padding-bottom: 20px; width: 500px;">
                <span style="font-family: 'Poppins',sans-serif; font-weight: 300; font-size: 16px; letter-spacing: 2px; color: #FFF;">
                    <a href="#" style="color: white; text-decoration: none; font-size: 13px; font-weight: 600;">Terms & Conditions</a> | <a href="#" style="color: white; text-decoration: none; font-size: 13px; font-weight: 600;">Privacy Policy</a>
                </span>
            </td>
        </tr>
    </table>
</div>
</body>
</html>